# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
.env
app/screens/Forms.txt
app/screens/Forms_temp.txt
app/screens/Section1_temp.txt
app/screens/Section1BasicInfo.txt
app/screens/Section2_temp.txt
app/screens/Section2PertinentData.txt
app/screens/Section3_temp.txt
app/screens/Section3.txt
app/screens/Section3MedicalHistory.txt
app/screens/Section4ExamFindings.txt
app/screens/Section5AssessmentPlan.txt
app/screens/Section6Upload.txt
app/screens/Section7Review.txt
app/screens/ABR.txt
app/screens/abrr.txt
app/screens/AnimalBiteReports.js
app/screens/CustomCheckbox.txt
app/screens/OnBoarding1.js
app/screens/OnBoarding2.js
app/screens/PatientForm.js
app/screens/r.txt
app/screens/Section6_new.js